/*
Author: Cassie Lewis
https://clewisdev.com
Date: May 2023
*/

/* ====== VARIABLES ====== */

:root {
    
    /*COLORS*/

    --bg: #E5E5E5;
    --lt-gray: #D9DEE6;
    --txt-color:#F8F8F8;
    --white-lg: 
        linear-gradient(180deg, 
        #FFFFFF 0%, 
        #F6F7FB 100%);
    --red-hover: #FFE7EF;
    --green-hover: #DBFFF4;
    --red:#E82D70;
    --green: #00D894;
    --red-lg: 
        linear-gradient(225.83deg, 
        #E82D70 -9.5%, 
        #F06957 109.5%);
    --green-lg: linear-gradient(228.9deg, 
        #00D894 10.21%, 
        #56E9CD 71.53%);
     
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-title: 2rem;
}

/* ====== MARGIN AND PADDING RESET ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== GLOBAL STYLES ====== */

body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    justify-content: center;
}

h1 {
    font-size: var(--fs-m);
}

h2 {
    font-size: var(--fs-s);
    font-weight: 400;
}

h1,
h2 {
    color: var(--txt-color);
}

a {
    text-decoration: none;
}



a:hover {
    color: green;
}

a:focus{
    border-radius: 50%;
    outline: 2px solid darkgray;
}

@media (min-width: 450px) {
    h1 {
        font-size: var(--fs-title);
    }

    h2 {
        font-size: var(--fs-m);
    }
}

/*====== BUTTON STYLING ======*/

.header-btn {
    background-color: #FFFFFF;;
    border: none;
    cursor: pointer;
}

.cross-btn,
.heart-btn {
    background-color: #FFFFFF;
    padding: 2em 2em;
    margin: 1.5em 0 2.5em 0;
    border: none;
    border-radius: var(--br-round);
    box-shadow: 0px 4px 4px var(--lt-gray);
    cursor: pointer;

    display: flex;
    align-items: center;
}

.cross-btn:hover,
.cross-btn:active {
    background-color: var(--red-hover);

}

.cross-btn:focus {
    outline: 2px solid red;
}

.heart-btn:hover,
.heart-btn:active {
    background-color: var(--green-hover);
}

.heart-btn:focus {
    outline: 2px solid mediumspringgreen ;
}

/* ====== IMG AND ICON STYLING ====== */

.header-icons,
.end-icon {
    width: 34px;
    height: 34px;
}

.profile-counter {
    display: block;
    width: 25px;
    height: 25px;
    font-size: var(--fs-s);
    text-align: center;
    background-color: var(--green);
    color: var(--txt-color);
    text-decoration: none;
    border-radius: var(--br-round);

    position: absolute;
    left: 1.5rem;
    top: 1rem;
}

.hidden-counter {
    display: none;
}

.logo,
.end-logo {
    width: 84px;
}   

.header-icons, 
.logo { 
    margin: 1.25em 0;
}

.chicken-img {
    display: block;
    width: 97%;
    margin: 0 auto;
    border-radius: var(--br-soft);
}


/* ====== LAYOUT ====== */

.body-container {
    max-width: 500px;
    background: var(--white-lg);
}

header {
    padding: 0 1.125em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    position: relative;
}

main {
    position: relative;
}

/*TODO ***************************/

.badge {
    display: none;
    width: 240px;
    transform: rotate(-25deg);
    position: absolute;
    top: 3rem;
    left: 1.5rem;
}

.likebadge {
    display: block;
}

.nopebadge {
    display: block;
}


/*TODO ***************************/

.txt-container {
    position: absolute;
    left: 1em;
    bottom: .5em;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.end-data {
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.end-title {
    font-size: var(--fs-m);
    color: black;
    margin-bottom: 2rem;
}

.end-link {
    font-size: var(--fs-s);
    text-decoration: none;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 5px solid var(--green-hover);
    border-radius: var(--br-soft);

    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 450px) {
    .badge {
        width: 150px;
        top: 2rem;
        left: 1rem;
    }
}

