/*
Author: Cassie Lewis
https://clewisdev.com
Date: May 2023
*/

/* ====== VARIABLES ====== */

:root {
    
    /*COLORS*/

    --bg: #E5E5E5;
    --lt-gray: #D9DEE6;
    --txt-color:#F8F8F8;
    --white-lg: 
        linear-gradient(180deg, 
        #FFFFFF 0%, 
        #F6F7FB 100%);
    --red-hover: #FFE7EF;
    --green-hover: #DBFFF4;
    --red:#E82D70;
    --green: #00D894;
    --red-lg: 
        linear-gradient(225.83deg, 
        #E82D70 -9.5%, 
        #F06957 109.5%);
    --green-lg: linear-gradient(228.9deg, 
        #00D894 10.21%, 
        #56E9CD 71.53%);
     
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: .75rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-title: 2rem;
}

/* ====== MARGIN AND PADDING RESET ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== GLOBAL STYLES ====== */

body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    justify-content: center;
}

h1 {
    font-size: var(--fs-m);
}

h2 {
    font-size: var(--fs-s);
    font-weight: 400;
}

h1,
h2 {
    color: var(--txt-color);
}

a {
    text-decoration: none;
}



a:hover {
    color: green;
}

a:focus{
    border-radius: 50%;
    outline: 2px solid darkgray;
}

@media (min-width: 450px) {
    h1 {
        font-size: var(--fs-title);
    }

    h2 {
        font-size: var(--fs-m);
    }
}

/*====== BUTTON STYLING ======*/

.header-btn {
    background-color: #FFFFFF;;
    border: none;
    cursor: pointer;
}

.cross-btn {
    width: 92px;
    height: 92px;
    background: url(images/icon-cross.png) center no-repeat;
}

.heart-btn {
    background: url(images/icon-heart.png) center no-repeat;
}

.cross-btn,
.heart-btn {
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    padding: 3.5em 3.5em;
    margin: 1.5em 0 2.5em 0;
    border: none;
    border-radius: var(--br-round);
    box-shadow: 0px 4px 4px var(--lt-gray);
    cursor: pointer;

    display: flex;
    align-items: center;
}

.cross-btn:hover,
.cross-btn:active {
    background-color: var(--red-hover);

}

.cross-btn:focus {
    outline: 2px solid red;
}

.heart-btn:hover,
.heart-btn:active {
    background-color: var(--green-hover);
}

.heart-btn:focus {
    outline: 2px solid mediumspringgreen ;
}

.profile-btn {
    position: relative;
    width: 35px;
    height: 35px;
    background: url(images/icon-profile.png) center/35px 35px no-repeat;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/* ====== IMG AND ICON STYLING ====== */

.header-icons,
.end-icon {
    width: 34px;
    height: 34px;
}

.profile-counter {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: var(--fs-s);
    font-weight: 700;
    text-align: center;
    background-color: var(--green);
    color: var(--txt-color);
    text-decoration: none;
    border-radius: var(--br-round);

    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}

.hidden-counter {
    display: none;
}

.logo,
.end-logo {
    width: 84px;
}   

.header-icons, 
.logo { 
    margin: 1.25em 0;
}

.chicken-img {
    display: block;
    width: 97%;
    margin: 0 auto;
    border-radius: var(--br-soft);
}


/* ====== LAYOUT ====== */

.body-container {
    max-width: 500px;
    background: var(--white-lg);
}

header {
    padding: 0 1.125em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container,
main {
    position: relative;
}

.badge {
    display: none;
    position: absolute;
    width: 240px;
    transform: rotate(-25deg);
    top: 3rem;
    left: 1.5rem;
}

.likebadge {
    display: block;
}

.nopebadge {
    display: block;
}

.txt-container {
    position: absolute;
    left: 1em;
    bottom: .5em;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

@media (max-width: 450px) {
    .badge {
        width: 150px;
        top: 2rem;
        left: 1rem;
    }
}


/*====== SAVED PROFILES ======*/

.saved-profiles-container {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: .5em;
}

.saved-heading {
    font-size: var(--fs-m);
    color: black;
    text-align: center;
}

.saved-img {
    display: block;
    width: 100%;
    border-radius: var(--br-soft);
    cursor: pointer;
}

.saved-img-container:hover::after,
.saved-img-container:focus::after {
    position: absolute;
    bottom: 10rem;
    left: 2.5rem;

    content: 'click to remove';
    font-size: var(--fs-s);
    text-align: center;
    color: white;
    opacity: .70;
    padding: 1em;
    background-color: var(--red);
    border-radius: var(--br-soft);
    cursor: pointer;
}

.saved-profile {
    position: relative;
}

.saved-txt-container {
    position: absolute;
    width: 100%;
    bottom: .5em;
    left: .5em;
    cursor: pointer;
}

.saved-title,
.saved-bio {
    font-size: var(--fs-s);
}

/*====== UTILITY CLASS ======*/

.hidden {               
    display: none;
}